**/config.json
**/config.ini
venv/
env/
.venv/
virtualenv/
Cosmoteer Decal Namer/decal_namer backup.py
Cosmoteer Decal Namer/decal_namer_debug.py
build/
build_installer.bat
*.spec
dist/
build_app.bat
EasyGridLocations/test_examples
EasyGridLocations/test.rules
EasyGridLocations/backup/*
EasyGridLocations/__pycache__/EasyGridLocationBackup.cpython-311.pyc
.gitignore
EasyGridLocations/EasyGridLocations_Assets.zip
EasyGridLocations/screenshots/*/
