**/config.json
**/config.ini
venv/
env/
.venv/
virtualenv/
Cosmoteer Decal Namer/decal_namer backup.py
Cosmoteer Decal Namer/decal_namer_debug.py
build/
build_installer.bat
*.spec
dist/
build_app.bat
